Repository vishvamsinh28/website: changes, and which Codecov flags are due for each by the changed paths.
All: code, tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.5
    patch:
      default:
        target: auto
        threshold: 0.5

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: yes

flags:
  code:
    paths:
      - scripts/
  tests:
    paths:
      - tests/

comment_flags:
  - code
  - tests

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  after_n_builds: 1
  require_base: no
  require_head: yes
  show_project: true
  show_files: true
  show_coverage: true
  coverage_layout: "table"
  coverage_sections: 
    - File
    - "% Stmts"
    - "% Branch"
    - "% Funcs"
    - "% Lines"
    - "Uncovered Line #s"

fege
  scripts/build-meetings.js
  tests/build-meetings.test.js
  tests/fixtures/meetingsData.js
Due: code, tests

fege
  tests/fixtures/meetingsData.js
Due: tests

rehrh
  .codecov.yml
Due: none

fix syntax error
  .codecov.yml
Due: none

rnao
  scripts/hello.js
  tests/hello.test.js
Due: code, tests

fwfewf
  tests/hello.test.js
Due: tests

fefgew
  .codecov.yml
Due: none

ffef
  .github/workflows/if-nodejs-pr-testing.yml
  jest.config.js
Due: none

add tests to check codecov
  scripts/build-meetings.js
  tests/build-meetings.test.js
  tests/fixtures/meetingsData.js
Due: code, tests

fef
  .github/workflows/if-nodejs-pr-testing.yml
  jest.config.js
Due: none

random test
  tests/build-newsroom-videos.test.js
Due: tests

random test 2
  .github/workflows/if-nodejs-pr-testing.yml
Due: none

fefe
  .codecov.yml
Due: none

efefqe
  .codecov.yml
Due: none

update config
  .codecov.yml
Due: none

fefewf
  .codecov.yml
Due: none

fwefewfg
  tests/readAndWriteJson.test.js
Due: tests

fewf
  tests/readAndWriteJson.test.js
Due: tests

cavav
  tests/build-newsroom-videos.test.js
  tests/readAndWriteJson.test.js
Due: tests

cavav
  tests/readAndWriteJson.test.js
Due: tests

Update if-nodejs-pr-testing.yml
  .github/workflows/if-nodejs-pr-testing.yml
Due: none

Update jest.config.js
  jest.config.js
Due: none

cavavfef
  tests/readAndWriteJson.test.js
Due: tests

Create .codecov.yml
  .codecov.yml
Due: none

rgrohrg
  tests/readAndWriteJson.test.js
Due: tests

fegew
  tests/readAndWriteJson.test.js
Due: tests

fewgew
  .codecov.yml
Due: none

fewgw
  tests/readAndWriteJson.test.js
Due: tests
